<%= form_for(@st_jinzai_bank) do |f| %>
  <% if @st_jinzai_bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@st_jinzai_bank.errors.count, "error") %> prohibited this st_jinzai_bank from being saved:</h2>

      <ul>
      <% @st_jinzai_bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :page_url %><br>
    <%= f.text_field :page_url %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :sub_title %><br>
    <%= f.text_field :sub_title %>
  </div>
  <div class="field">
    <%= f.label :job_feature %><br>
    <%= f.text_area :job_feature %>
  </div>
  <div class="field">
    <%= f.label :salary %><br>
    <%= f.text_area :salary %>
  </div>
  <div class="field">
    <%= f.label :working_hours %><br>
    <%= f.text_field :working_hours %>
  </div>
  <div class="field">
    <%= f.label :holiday_vacation %><br>
    <%= f.text_area :holiday_vacation %>
  </div>
  <div class="field">
    <%= f.label :job_category %><br>
    <%= f.text_area :job_category %>
  </div>
  <div class="field">
    <%= f.label :employment_type %><br>
    <%= f.text_area :employment_type %>
  </div>
  <div class="field">
    <%= f.label :job_detail %><br>
    <%= f.text_area :job_detail %>
  </div>
  <div class="field">
    <%= f.label :recommended_comment %><br>
    <%= f.text_area :recommended_comment %>
  </div>
  <div class="field">
    <%= f.label :workplace_feature %><br>
    <%= f.text_area :workplace_feature %>
  </div>
  <div class="field">
    <%= f.label :corporate_name %><br>
    <%= f.text_field :corporate_name %>
  </div>
  <div class="field">
    <%= f.label :office_name %><br>
    <%= f.text_field :office_name %>
  </div>
  <div class="field">
    <%= f.label :institution_type %><br>
    <%= f.text_field :institution_type %>
  </div>
  <div class="field">
    <%= f.label :work_location %><br>
    <%= f.text_area :work_location %>
  </div>
  <div class="field">
    <%= f.label :postalcode %><br>
    <%= f.text_area :postalcode %>
  </div>
  <div class="field">
    <%= f.label :prefecture %><br>
    <%= f.text_field :prefecture %>
  </div>
  <div class="field">
    <%= f.label :nearest_station %><br>
    <%= f.text_area :nearest_station %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
