<p id="notice"><%= notice %></p>

<p>
  <strong><%= _('Event url') %>:</strong>
  <%= @exeo_japan.event_url %>
</p>

<p>
  <strong><%= _('Main image url') %>:</strong>
  <%= @exeo_japan.main_image_url %>
</p>

<p>
  <strong><%= _('Venue name') %>:</strong>
  <%= @exeo_japan.venue_name %>
</p>

<p>
  <strong><%= _('Postalcode') %>:</strong>
  <%= @exeo_japan.postalcode %>
</p>

<p>
  <strong><%= _('Prefecture name') %>:</strong>
  <%= @exeo_japan.prefecture_name %>
</p>

<p>
  <strong><%= _('Address') %>:</strong>
  <%= @exeo_japan.address %>
</p>

<p>
  <strong><%= _('Event date time') %>:</strong>
  <%= @exeo_japan.event_date_time %>
</p>

<p>
  <strong><%= _('Title') %>:</strong>
  <%= @exeo_japan.title %>
</p>

<p>
  <strong><%= _('Description') %>:</strong>
  <%= @exeo_japan.description %>
</p>

<p>
  <strong><%= _('Reservation state for male') %>:</strong>
  <%= @exeo_japan.reservation_state_for_male %>
</p>

<p>
  <strong><%= _('Reservation state for female') %>:</strong>
  <%= @exeo_japan.reservation_state_for_female %>
</p>

<p>
  <strong><%= _('Price for male') %>:</strong>
  <%= @exeo_japan.price_for_male %>
</p>

<p>
  <strong><%= _('Price for female') %>:</strong>
  <%= @exeo_japan.price_for_female %>
</p>

<p>
  <strong><%= _('Eligibility for male') %>:</strong>
  <%= @exeo_japan.eligibility_for_male %>
</p>

<p>
  <strong><%= _('Eligibility for female') %>:</strong>
  <%= @exeo_japan.eligibility_for_female %>
</p>

<p>
  <strong><%= _('Age range for male') %>:</strong>
  <%= @exeo_japan.age_range_for_male %>
</p>

<p>
  <strong><%= _('Age range for female') %>:</strong>
  <%= @exeo_japan.age_range_for_female %>
</p>

<p>
  <strong><%= _('Important reminder') %>:</strong>
  <%= @exeo_japan.important_reminder %>
</p>

<p>
  <strong><%= _('All images link') %>:</strong>
  <%= @exeo_japan.all_images_link %>
</p>

<%= link_to _('Edit'), edit_exeo_japan_path(@exeo_japan) %> |
<%= link_to _('Back'), exeo_japans_path %>
