<p id="notice"><%= notice %></p>

<p>
  <strong><%= _('Page url') %>:</strong>
  <%= @ot_jinzai_bank.page_url %>
</p>

<p>
  <strong><%= _('Title') %>:</strong>
  <%= @ot_jinzai_bank.title %>
</p>

<p>
  <strong><%= _('Sub title') %>:</strong>
  <%= @ot_jinzai_bank.sub_title %>
</p>

<p>
  <strong><%= _('Job feature') %>:</strong>
  <%= @ot_jinzai_bank.job_feature %>
</p>

<p>
  <strong><%= _('Salary') %>:</strong>
  <%= @ot_jinzai_bank.salary %>
</p>

<p>
  <strong><%= _('Working hours') %>:</strong>
  <%= @ot_jinzai_bank.working_hours %>
</p>

<p>
  <strong><%= _('Holiday vacation') %>:</strong>
  <%= @ot_jinzai_bank.holiday_vacation %>
</p>

<p>
  <strong><%= _('Job category') %>:</strong>
  <%= @ot_jinzai_bank.job_category %>
</p>

<p>
  <strong><%= _('Employment type') %>:</strong>
  <%= @ot_jinzai_bank.employment_type %>
</p>

<p>
  <strong><%= _('Job detail') %>:</strong>
  <%= @ot_jinzai_bank.job_detail %>
</p>

<p>
  <strong><%= _('Recommended comment') %>:</strong>
  <%= @ot_jinzai_bank.recommended_comment %>
</p>

<p>
  <strong><%= _('Workplace feature') %>:</strong>
  <%= @ot_jinzai_bank.workplace_feature %>
</p>

<p>
  <strong><%= _('Corporate name') %>:</strong>
  <%= @ot_jinzai_bank.corporate_name %>
</p>

<p>
  <strong><%= _('Office name') %>:</strong>
  <%= @ot_jinzai_bank.office_name %>
</p>

<p>
  <strong><%= _('Institution type') %>:</strong>
  <%= @ot_jinzai_bank.institution_type %>
</p>

<p>
  <strong><%= _('Work location') %>:</strong>
  <%= @ot_jinzai_bank.work_location %>
</p>

<p>
  <strong><%= _('Prefecture') %>:</strong>
  <%= @ot_jinzai_bank.prefecture %>
</p>

<p>
  <strong><%= _('Nearest station') %>:</strong>
  <%= @ot_jinzai_bank.nearest_station %>
</p>

<%= link_to 'Edit', edit_ot_jinzai_bank_path(@ot_jinzai_bank) %> |
<%= link_to 'Back', ot_jinzai_banks_path %>

