<p id="notice"><%= notice %></p>
<h1>Otokon Japans(<%= @otokon_japans.size %>件)</h1>
<%= link_to _('CSV Download'), csv_download_otokon_japans_path %> |
<%= link_to _('Back'), root_path %>
<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th><%= _('Event ID') %></th>
      <th><%= _('Title') %></th>
      <th><%= _('Venue name') %></th>
      <th><%= _('Postalcode') %></th>
      <th><%= _('Prefecture name') %></th>
      <th><%= _('Address') %></th>
      <th><%= _('Event date time') %></th>      
      <th><%= _('Reservation state for male') %></th>
      <th><%= _('Reservation state for female') %></th>
      <th><%= _('Price for male') %></th>
      <th><%= _('Price for female') %></th>
      <th><%= _('Eligibility for male') %></th>
      <th><%= _('Eligibility for female') %></th>
      <th><%= _('Age range for male') %></th>
      <th><%= _('Age range for female') %></th>
      <th><%= _('Updated at') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @otokon_japans.each do |otokon_japan| %>
      <tr>
        <td><%= link_to otokon_japan.id, otokon_japan.event_url, {target: '_blank'} %></td>
        <td><%= otokon_japan.title %></td>
        <td><%= otokon_japan.venue_name %></td>
        <td><%= otokon_japan.postalcode %></td>
        <td><%= otokon_japan.prefecture_name %></td>
        <td><%= otokon_japan.address %></td>
        <td><%= otokon_japan.event_date_time %></td>        
        <td><%= otokon_japan.reservation_state_for_male %></td>
        <td><%= otokon_japan.reservation_state_for_female %></td>
        <td><%= otokon_japan.price_for_male %></td>
        <td><%= otokon_japan.price_for_female %></td>
        <td><%= otokon_japan.eligibility_for_male %></td>
        <td><%= otokon_japan.eligibility_for_female %></td>
        <td><%= otokon_japan.age_range_for_male %></td>
        <td><%= otokon_japan.age_range_for_female %></td>
        <td><%= l otokon_japan.updated_at, format: :short %></td>
        <td><%= link_to _('Show'), otokon_japan %></td>
        <td><%= link_to _('Edit'), edit_otokon_japan_path(otokon_japan) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to _('Back'), root_path %>
<%#= link_to 'New Otokon japan', new_otokon_japan_path %>
