<p id="notice"><%= notice %></p>

<h1>Ptot Jinzai Banks(<%= @ptot_jinzai_banks.size %>件)</h1>
<%= link_to _('CSV Download'), csv_download_ptot_jinzai_banks_path %> |
<%= link_to _('Back'), root_path %>

<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>ID</th>
      <th><%= _('Page url') %></th>
      <th><%= _('Calendar date') %></th>
      <th><%= _('Title') %></th>
      <th><%= _('Sub title') %></th>
      <th><%= _('Job feature') %></th>
      <th><%= _('Salary') %></th>
      <th><%= _('Working hours') %></th>
      <th><%= _('Holiday vacation') %></th>
      <th><%= _('Job category') %></th>
      <th><%= _('Employment type') %></th>
      <th><%= _('Job detail') %></th>
      <th><%= _('Recommended comment') %></th>
      <th><%= _('Workplace feature') %></th>
      <th><%= _('Corporate name') %></th>
      <th><%= _('Office name') %></th>
      <th><%= _('Institution type') %></th>
      <th><%= _('Work location') %></th>
      <th><%= _('Prefecture') %></th>
      <th><%= _('Nearest station') %></th>
      <th><%= _('Updated at') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @ptot_jinzai_banks.each do |ptot_jinzai_bank| %>
      <tr>
        <td><%= ptot_jinzai_bank.id %></td>
        <td><%= link_to 'サイトリンク先へ', ptot_jinzai_bank.page_url, target: '_blank' %></td>
        <td><%= ptot_jinzai_bank.calendar_date %></td>
        <td><%= ptot_jinzai_bank.title %></td>
        <td><%= ptot_jinzai_bank.sub_title %></td>
        <td><%= ptot_jinzai_bank.job_feature %></td>
        <td><%= ptot_jinzai_bank.salary %></td>
        <td><%= ptot_jinzai_bank.working_hours %></td>
        <td><%= ptot_jinzai_bank.holiday_vacation %></td>
        <td><%= ptot_jinzai_bank.job_category %></td>
        <td><%= ptot_jinzai_bank.employment_type %></td>
        <td><%= ptot_jinzai_bank.job_detail %></td>
        <td><%= ptot_jinzai_bank.recommended_comment %></td>
        <td><%= ptot_jinzai_bank.workplace_feature %></td>
        <td><%= ptot_jinzai_bank.corporate_name %></td>
        <td><%= ptot_jinzai_bank.office_name %></td>
        <td><%= ptot_jinzai_bank.institution_type %></td>
        <td><%= ptot_jinzai_bank.work_location %></td>
        <td><%= ptot_jinzai_bank.prefecture %></td>
        <td><%= ptot_jinzai_bank.nearest_station %></td>
        <td><%= l ptot_jinzai_bank.updated_at, format: :short %></td>
        <td><%= link_to 'Show', ptot_jinzai_bank %></td>
        <td><%= link_to 'Edit', edit_ptot_jinzai_bank_path(ptot_jinzai_bank) %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Ptot jinzai bank', new_ptot_jinzai_bank_path %>
